<!--Footer-->
<footer class="page-footer blue center-on-small-only footer-container">

    <div class="container-fluid">
      <div class="row padding-top-bottom-30">
        <div class="col-md-offset-1 col-md-3 padding-bottom-20" style="padding-right: 40px;">
                <span class="font-size-22">Contribute</span><br>
                <div class="padding-bottom-10"></div>
               <span class="font-size-15 font-family-josefin"> Have I forgot to include something? Please share your feedback, ideas and suggestions what should be included in the list. Let's talk: <a href="mailto:kristijonas.zibutis@gmail.com?Subject=Vilnius%20Guide" target="_top">kristijonas.zibutis@gmail.com</a></span>
            </div>

            <div class="col-md-3 text-center img-radius" style="background-color: beige;color: rgba(0, 0, 0, 0.84);">
            <div class="col-md-5">
              <img src="<%= image_path 'ebook' %>" style="height: 170px;" alt="">
            </div>

            <div class="col-md-7" style="padding-top: 10px;">
              <span class="font-family-josefin font-size-15"> Buy e-book for offline reading when you have no internet and for bonus insights into Vilnius</span>
            </div>

               <a class="nav-contr btn btn-success ebook-btn" href="/ebook">Buy E-book</a>
            </div>

            <div class="col-md-4">
                <ul class="navbar-nav text-center ebook-list">
                  <li></li>
                  <li><a class="nav-btn trans-white" href="/where_to_eat_in_vilnius">Where to eat</a></li>
                  <li><a class="nav-btn trans-white" href="/what_to_see_in_vilnius">What to see</a></li>
                  <li><a class="nav-btn trans-white" style="border-right-style: none;" href="/where_to_party_in_vilnius">Where to night out</a></li><br>
                  <li><a class="nav-btn trans-white" href="/where_to_stay_in_vilnius">Where to stay</a></li>
                  <li><a class="nav-btn trans-white" href="/what_to_listen_in_vilnius">What to listen</a></li>
                  <li><a class="nav-btn trans-white" style="border-right-style: none;" href="/fun_facts_about_Lithuania">Tips & Facts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center" style=" background-color: rgb(51, 45, 32);">
        <div class="container-fluid footer-strip">
            WITH <span class="glyphicon glyphicon-heart color-red"></span> FROM VILNIUS
        </div>
    </div>
</footer>
<!--/.Footer-->
