     <div class="banner" style="background:url(<%= image_path 'contact' %>); height: auto;">
     <!-- <div class="layer"></div> -->
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="text-center">
            <h1 class="banner-text"> Have I missed somehitng...?</h1>
          </div>

          <h3 class="text-white">Share your favourite spots in Lithuania. Tell me what does it mean for you to be Lithuanian?</h3>

<!--           <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5> -->
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">
        <div class="container">
          <br>
            <h1 class="text-center padding-top-18">Write a message</h1>
          <br><br>
          <div class="row">
            <div class="col-md-offset-1 col-md-5">
            <br>
              <img src="<%= image_path 'baltijos-kelias' %>" alt="" class="image-card">
                <!-- <div class="layer"></div> -->
            </div>
            <div class="col-md-5">
              <h2>Baltijos Kelias (eng. Baltic way)</h2>
              <p>It was a peaceful political demonstration that occurred on 23 August 1989. Approximately two million people joined their hands to form a human chain spanning 675.5 kilometres (419.7 mi) across the three Baltic states – Estonia, Latvia, and Lithuania. The protest was designed to draw global attention by demonstrating a desire for independence from Soviet Union and illustrated solidarity among the three nation</p>
            </div>
          </div>
          </div>
          </div>
