<% content_for :head do %>

<title>Vilnius City Guide by a Local - Pocket E-Book (pdf)</title>
<meta content="Pocket E-book guide for Vilnius City. Read offline about Vilnius highlights from a local. Click here to get it" name="description">

<meta property="og:title" content="E-Book : Vilnius City Guide"/>
<meta property="og:url" content="http://localvilnius.guide/ebook"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Pocket E-book guide for Vilnius City. Read offline about Vilnius highlights from a local. Click here to get it"/>
<meta property="og:image" content="http://localvilnius.guide/assets/ebook-dfabc855b2bd38794cc820d46257b3c8083aabda423ba099dd96644289c2841b.png"/>
<% end %>


<div class="banner" style="background:url(<%= image_path 'vilnius-ebooks' %>);">
  <div class="layer"></div>
  <div class="col-md-offset-1 col-md-5">
    <div class="padding-top-152">
      <div class="text-shadow">
        <div class="inline">
          <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
          <h1 class="banner-text"> Vilnius guide by a local</h1>
        </div>

        <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

        <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
      </div>
    </div>
  </div>
</div>

<div class="color-yellow">
  <div class="container">
    <br>
    <h1 class="text-center padding-top-18">Get Full Ultimate Vilnius Guide Book</h1>
    <br><br>

    <div class="row">
      <div class="col-md-offset-1 col-md-5 text-center">
        <img src="<%= image_path 'ebook' %>" alt="" class="img-radius" style="height: 420px;">
      </div>

      <div class="col-md-5">
        <h2>Offline E-book</h2>

        <ul class="font-family-josefin font-size-19"">
          <li>Read guide offline without internet connection on the plane or on the go</li>
          <li>Get additional secret places for eating and sightseeing in Vilnius</li>
          <li>Full sightseeing Vilnius map</li>
          <li>Day plan for a weekend break in Vilnius</li>
          <li>Support this website and editorial work that it takes to keep the guide up to date</li>
        </ul>

        <p>Get your Full Ultimate Vilnius Guide and enjoy reading it without internet at any time on your smart device</p>

        <div style="padding-bottom: 5px;"></div>
        <div class="display-inline">
          <h2 class="ebook-old-price">Price: 9 eur</h2>
          <p style="margin-bottom: -18px;"></p>
          <h2 class="ebook-new-price"> <span style="color: green">New price: </span> 4 eur</h2>

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="display-inline" style="padding-left: 80px;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="EKMGRJTB6C8QG">
            <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </div>
    <br><br><br><br>

  </div>
</div>
