<META NAME="robots" CONTENT="noindex,nofollow">


<div class="banner" style="background:url(<%= image_path 'success' %>);">
  <div class="col-md-offset-7 col-md-3 text-center">
    <div style="margin-top: 395px;">
      <div class="success-div">
        <a class="nav-contr btn btn-success success-text" href="/assets/ultimate-vilnius-guide.pdf">Download your E-book</a>
        <p class="">if you have dificulties downloading or something is not working, please contact me: kristijonas.zibutis@gmail.com or fb: Kristijonas Zibutis</p>
      </div>
    </div>
  </div>
</div>
