     <div class="banner" style="background:url(<%= image_path 'Vilnius' %>);">
     <!-- <div class="layer"></div> -->
       <div class="col-md-offset-1 col-md-5">
        <div class="padding-top-152">
        <div class="text-shadow">
          <div class="inline">
            <img src="<%= image_path 'local_kris.png' %>" alt="" class="foto">
            <h1 class="banner-text"> Vilnius guide by a local</h1>
          </div>

          <h3 class="text-white">What to do, see, eat, drink, night out in Vilnius? Ultimate guide, to make your trip uniquely Lithuanian. </h3>

          <h5 class="padding-top-18 text-white">SIDE NOTE: IT'S NOT YOUR REGULAR TOURIST GUIDE</h5>
        </div>
        </div>
      </div>
      </div>

      <div class="color-yellow">

          <br>
            <h1 class="text-center padding-top-18">Where to stay in Vilnius</h1>
            <div class="text-center">
            <p>Here is the map pinpointing areas that are recomended for your stay in Vilnius and the ones that you should avoid. </p></div>
          <br><br>

          <div class="banner img-radius" style="background:url(<%= image_path 'vilnius-map' %>);"></div>

          <div class="col-md-offset-1 col-md-10">
              <br><br>
              <p>In general, yellow areas are ok for staying. Bright yellow areas mark Vilnius city center, old town and commercial district. This is where I would recommend you to find a hotel since it has the best vibes of Vilnius and you will be staying in the hot spots so no need for taxi or public transport. Budget travelers can expand hotel or hostel search scope by including remote but cozy areas like Zverynas or Naujamiestis, but refer to this map to check if it is not too far away. Other than that use the usual suspects - booking.com or hostelworld.com to find the best hotel deals</p>
        <br><br><br><br>
          </div>

<div class="text-center">
         <%= link_to "Check tips & fun facts about Lithuania >>", fun_facts_about_Lithuania_path , class:"btn btn-default bottom-button", style: ""%>
        <br><br><br><br>
</div>

</div>


